html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/*
#map {
  width: 100%;
  height: calc(100vh - 70px); 
  margin-top: 70px;
}
*/

/*custom modification of provided CSS*/
.ol-zoom.ol-unselectable.ol-control {
  right: 5em;
  left: 95%;
}

.map-title {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: yellow;
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* map color */
.purple-letter {
  color: purple;
}

.map-title span {
  color: black;
}

.map-title span.purple-letter {
  color: purple;
}

/*custom html*/
aside {
  position: absolute;
  left: 0;
  width: max-content;
  height: 70%;
  background-color: white;
  overflow-y: scroll;
}
